# Auto detect text files and perform LF normalization
* text=auto

Week2/Assets/Sprites/** filter=lfs diff=lfs merge=lfs -text
Week6/Assets/Textures/** filter=lfs diff=lfs merge=lfs -text
Week6/Assets/UI/** filter=lfs diff=lfs merge=lfs -text